numpy>=1.16.5
scipy>=1.2.0
pandas>=0.24.0
scikit-learn>=0.22
matplotlib>=3.2
autograd>=1.3
torch>=1.6.0
gpytorch>=1.3.0
botorch>=0.3.2
tqdm==4.42.0
tensorflow
tensorflow-hub
gitpython==2.1.15
umap-learn==0.3.10
tabulate
requests