numpy>=1.16.5,<1.21
scipy>=1.2.0
pandas>=0.24.0
scikit-learn>=0.22,<1.0
matplotlib>=3.2
autograd>=1.3
torch>=1.6.0
gpytorch>=1.3.0
botorch>=0.3.2
tqdm==4.42.0
tensorflow<=2.5
tensorflow-hub
gitpython==3.1.34
umap-learn==0.3.10
tabulate
requests
